/* ----------------------------------------------------------------------------- */
/* Kanagawa Paper Ash */
/* Upstream: https://github.com/thesimonho/kanagawa-paper.nvim/master/extras/tailwind/kanagawa-paper-ash.css */
/* URL: https://tailwindcss.com/ */
/* ----------------------------------------------------------------------------- */

@theme inline {
  --color-kanagawa-paper-ash-foreground: oklch(from #c5c9c5 l c h);
  --color-kanagawa-paper-ash-background: oklch(from #181616 l c h);
  --color-kanagawa-paper-ash-divider: oklch(from #625e5a l c h);
  --color-kanagawa-paper-ash-focus: oklch(from #938AA9 l c h);
  --color-kanagawa-paper-ash-highlight: oklch(from #393836 l c h);
  --color-kanagawa-paper-ash-comment: oklch(from #717C7C l c h);

  --color-kanagawa-paper-ash-primary: oklch(from #c4b28a l c h);
  --color-kanagawa-paper-ash-secondary: oklch(from #c4746e l c h);
  --color-kanagawa-paper-ash-tertiary: oklch(from #938AA9 l c h);

  --color-kanagawa-paper-ash-success: oklch(from #699469 l c h);
  --color-kanagawa-paper-ash-warning: oklch(from #c4b28a l c h);
  --color-kanagawa-paper-ash-danger: oklch(from #c4746e l c h);
  --color-kanagawa-paper-ash-info: oklch(from #658594 l c h);
  
  --color-kanagawa-paper-ash-content1: oklch(from #181616 l c h);
  --color-kanagawa-paper-ash-content2: oklch(from #1D1C19 l c h);
  --color-kanagawa-paper-ash-content3: oklch(from #12120f l c h);
  --color-kanagawa-paper-ash-content4: oklch(from #0d0c0c l c h);
  --color-kanagawa-paper-ash-content5: oklch(from #12120f l c h);
  --color-kanagawa-paper-ash-panel: oklch(from #181616 l c h);

  --color-kanagawa-paper-ash-rainbow1: oklch(from #c4746e l c h);
  --color-kanagawa-paper-ash-rainbow2: oklch(from #a292a3 l c h);
  --color-kanagawa-paper-ash-rainbow3: oklch(from #658594 l c h);
  --color-kanagawa-paper-ash-rainbow4: oklch(from #9d7665 l c h);
  --color-kanagawa-paper-ash-rainbow5: oklch(from #699469 l c h);
  --color-kanagawa-paper-ash-rainbow6: oklch(from #737c73 l c h);
  --color-kanagawa-paper-ash-rainbow7: oklch(from #949fb5 l c h);

  --color-kanagawa-paper-ash-accent1: oklch(from #658594 l c h);
  --color-kanagawa-paper-ash-accent2: oklch(from #b6927b l c h);
  --color-kanagawa-paper-ash-accent3: oklch(from #6A9589 l c h);
  --color-kanagawa-paper-ash-accent4: oklch(from #7a8382 l c h);
  --color-kanagawa-paper-ash-accent5: oklch(from #c4746e l c h);

  --color-kanagawa-paper-ash-black: oklch(from #393836 l c h);
  --color-kanagawa-paper-ash-black-bright: oklch(from #aca9a4 l c h);
  --color-kanagawa-paper-ash-red: oklch(from #c4746e l c h);
  --color-kanagawa-paper-ash-red-bright: oklch(from #cc928e l c h);
  --color-kanagawa-paper-ash-green: oklch(from #699469 l c h);
  --color-kanagawa-paper-ash-green-bright: oklch(from #72a072 l c h);
  --color-kanagawa-paper-ash-yellow: oklch(from #c4b28a l c h);
  --color-kanagawa-paper-ash-yellow-bright: oklch(from #d4c196 l c h);
  --color-kanagawa-paper-ash-blue: oklch(from #435965 l c h);
  --color-kanagawa-paper-ash-blue-bright: oklch(from #698a9b l c h);
  --color-kanagawa-paper-ash-magenta: oklch(from #a292a3 l c h);
  --color-kanagawa-paper-ash-magenta-bright: oklch(from #b4a7b5 l c h);
  --color-kanagawa-paper-ash-cyan: oklch(from #8ea49e l c h);
  --color-kanagawa-paper-ash-cyan-bright: oklch(from #96ada7 l c h);
  --color-kanagawa-paper-ash-white: oklch(from #c5c9c5 l c h);
  --color-kanagawa-paper-ash-white-bright: oklch(from #d0d4d0 l c h);
}
